$color-main: #f63a3a;
$color-second: #524c4c;

$background-main: #eee;
$background-second: #efd9d9;
$background-text: #524c4c;

$color-title: #f63a3a;
$color-text: #524c4c;
$color-imgTxt: #fff; 
$color-footer: #000;
$color-txtPoint: #f63a3a;

$font-godic: '맑은 고딕', Helvetica, Arial, sans-serif; // main font
$font-serif: serif; // second font

$width-wide: 100%;
$width-half: 50%;
$width-quarter: 25%;